In [2]:
import pandas as pd

In [20]:
df = pd.read_csv("HoC-GE2019-results-by-candidate.csv")

In [4]:
df.head()

,ons_id,ons_region_id,constituency_name,county_name,region_name,country_name,constituency_type,party_name,party_abbreviation,firstname,surname,gender,sitting_mp,former_mp,votes,share,change
0,W07000049,W92000004,Aberavon,West Glamorgan,Wales,Wales,County,Labour,Lab,Stephen,Kinnock,Male,Yes,Yes,17008,0.538262,-0.142933
1,W07000049,W92000004,Aberavon,West Glamorgan,Wales,Wales,County,Conservative,Con,Charlotte,Lang,Female,No,No,6518,0.206279,0.028901
2,W07000049,W92000004,Aberavon,West Glamorgan,Wales,Wales,County,Brexit Party,Brexit,Glenda,Davies,Female,No,No,3108,0.098361,NaN
3,W07000049,W92000004,Aberavon,West Glamorgan,Wales,Wales,County,Plaid Cymru,PC,Nigel,Hunt,Male,No,No,2711,0.085797,0.002804
4,W07000049,W92000004,Aberavon,West Glamorgan,Wales,Wales,County,Liberal Democrat,LD,Sheila,Kingston-Jones,Female,No,No,1072,0.033926,0.015921

In [6]:
df2 = df[ (df['sitting_mp'] == "Yes") & (df['share'] >= 0.5) ]

In [8]:
len(df2)

346

In [9]:
df3 = df[ (df['sitting_mp'] == "No") & (df['share'] >= 0.5) ]

In [10]:
len(df3)

75

In [11]:
df3.head()

,ons_id,ons_region_id,constituency_name,county_name,region_name,country_name,constituency_type,party_name,party_abbreviation,firstname,surname,gender,sitting_mp,former_mp,votes,share,change
62,E14000534,E12000008,Arundel and South Downs,West Sussex,South East,England,County,Conservative,Con,Andrew,Griffith,Male,No,No,35566,0.579175,-0.044381
83,E14000538,E12000008,Aylesbury,Buckinghamshire,South East,England,County,Conservative,Con,Rob,Butler,Male,No,No,32737,0.540429,-0.009271
116,E14000543,E12000002,Barrow and Furness,Cumbria,North West,England,County,Conservative,Con,Simon,Fell,Male,No,No,23876,0.518525,0.048195
131,E14000546,E12000004,Bassetlaw,Nottinghamshire,East Midlands,England,County,Conservative,Con,Brendan,Clarke-Smith,Male,No,No,28078,0.552271,0.119448
151,E14000550,E12000008,Beaconsfield,Buckinghamshire,South East,England,County,Conservative,Con,Joy,Morrissey,Female,No,No,32477,0.561226,-0.091287

In [12]:
ddf = pd.read_csv("HoC-GE2019-results-by-constituency.csv")

In [13]:
ddf.head()

,ons_id,ons_region_id,constituency_name,county_name,region_name,country_name,constituency_type,declaration_time,mp_firstname,mp_surname,...,green,snp,pc,dup,sf,sdlp,uup,alliance,other,other_winner
0,W07000049,W92000004,Aberavon,West Glamorgan,Wales,Wales,County,2019-12-13 02:30:00,Stephen,Kinnock,...,450,0,2711,0,0,0,0,0,731,0
1,W07000058,W92000004,Aberconwy,Clwyd,Wales,Wales,County,2019-12-13 03:09:00,Robin,Millar,...,0,0,2704,0,0,0,0,0,0,0
2,S14000001,S92000003,Aberdeen North,Scotland,Scotland,Scotland,Borough,2019-12-13 03:13:00,Kirsty,Blackman,...,880,20205,0,0,0,0,0,0,0,0
3,S14000002,S92000003,Aberdeen South,Scotland,Scotland,Scotland,Borough,2019-12-13 03:34:00,Stephen,Flynn,...,0,20388,0,0,0,0,0,0,0,0
4,S14000003,S92000003,Airdrie and Shotts,Scotland,Scotland,Scotland,County,2019-12-13 02:59:00,Neil,Gray,...,685,17929,0,0,0,0,0,0,0,0

In [14]:
ddf[ ddf['constituency_name'] == "Arundel and South Downs" ]

,ons_id,ons_region_id,constituency_name,county_name,region_name,country_name,constituency_type,declaration_time,mp_firstname,mp_surname,...,green,snp,pc,dup,sf,sdlp,uup,alliance,other,other_winner
13,E14000534,E12000008,Arundel and South Downs,West Sussex,South East,England,County,2019-12-13 08:09:00,Andrew,Griffith,...,2519,0,0,0,0,0,0,0,556,0

In [15]:
df[ df['constituency_name'] == "Arundel and South Downs" ]

,ons_id,ons_region_id,constituency_name,county_name,region_name,country_name,constituency_type,party_name,party_abbreviation,firstname,surname,gender,sitting_mp,former_mp,votes,share,change
62,E14000534,E12000008,Arundel and South Downs,West Sussex,South East,England,County,Conservative,Con,Andrew,Griffith,Male,No,No,35566,0.579175,-0.044381
63,E14000534,E12000008,Arundel and South Downs,West Sussex,South East,England,County,Liberal Democrat,LD,Alison,Bennett,Female,No,No,13045,0.212432,0.133054
64,E14000534,E12000008,Arundel and South Downs,West Sussex,South East,England,County,Labour,Lab,Bella,Sankey,Female,No,No,9722,0.158318,-0.068879
65,E14000534,E12000008,Arundel and South Downs,West Sussex,South East,England,County,Green,Green,Isabel,Thurston,Female,No,No,2519,0.041021,-0.001166
66,E14000534,E12000008,Arundel and South Downs,West Sussex,South East,England,County,Independent,Ind,Robert,Wheal,Male,No,No,556,0.009054,NaN

In [16]:
df[ (df['sitting_mp'] == "No") & (df['former_mp'] == "Yes")].head()

,ons_id,ons_region_id,constituency_name,county_name,region_name,country_name,constituency_type,party_name,party_abbreviation,firstname,surname,gender,sitting_mp,former_mp,votes,share,change
60,S14000005,S92000003,Argyll and Bute,Scotland,Scotland,Scotland,County,Liberal Democrat,LD,Alan,Reid,Male,No,Yes,6832,0.142185,-0.039741
166,N06000001,N92000002,Belfast East,Northern Ireland,Northern Ireland,Northern Ireland,Borough,Alliance,Alliance,Naomi,Long,Female,No,Yes,19055,0.448934,0.088873
187,S14000008,S92000003,"Berwickshire, Roxburgh and Selkirk",Scotland,Scotland,Scotland,County,Scottish National Party,SNP,Calum,Kerr,Male,No,Yes,20599,0.387593,0.060039
189,S14000008,S92000003,"Berwickshire, Roxburgh and Selkirk",Scotland,Scotland,Scotland,County,Labour,Lab,Ian,Davidson,Male,No,Yes,2513,0.047285,-0.039010
338,E14000580,E12000002,Bolton West,Greater Manchester,North West,England,County,Labour,Lab,Julie,Hilling,Female,No,Yes,18400,0.373240,-0.087507

In [21]:
df2017 = pd.read_csv("HoC-GE2017-results-by-candidate.csv")
df2019 = pd.read_csv("HoC-GE2019-results-by-candidate.csv")

In [22]:
l17 = df2017['constituency_name'].unique()
l19 = df2019['constituency_name'].unique()

In [23]:
for con in l17:
    if con not in l19:
        print(con)

In [24]:
for con in l19:
    if con not in l17:
        print(con)

In [25]:
len(l17)

650

In [26]:
len(l19)

650

In [27]:
winners_2017 = df2017[ df2017['share'] >= 0.5 ]

In [29]:
len(winners_2017)

476

In [30]:
winners_2017.head()

,ons_id,ons_region_id,constituency_name,county_name,region_name,country_name,constituency_type,party_name,party_abbreviation,firstname,surname,gender,sitting_mp,former_mp,votes,share,change
0,W07000049,W92000004,Aberavon,West Glamorgan,Wales,Wales,County,Labour,Lab,Stephen,Kinnock,Male,Yes,Yes,22662,0.681195,0.192155
22,E14000530,E12000008,Aldershot,Hampshire,South East,England,Borough,Conservative,Con,Leo,Docherty,Male,No,No,26950,0.550562,0.044641
27,E14000531,E12000005,Aldridge-Brownhills,West Midlands,West Midlands,England,Borough,Conservative,Con,Wendy,Morton,Female,Yes,Yes,26317,0.654082,0.133587
31,E14000532,E12000002,Altrincham and Sale West,Greater Manchester,North West,England,Borough,Conservative,Con,Graham,Brady,Male,Yes,Yes,26933,0.510191,-0.019749
36,W07000043,W92000004,Alyn and Deeside,Clwyd,Wales,Wales,County,Labour,Lab,Mark,Tami,Male,Yes,Yes,23315,0.520889,0.120541

In [31]:
df2019[ df2019['constituency_name'] == "Aberavon" ]

,ons_id,ons_region_id,constituency_name,county_name,region_name,country_name,constituency_type,party_name,party_abbreviation,firstname,surname,gender,sitting_mp,former_mp,votes,share,change
0,W07000049,W92000004,Aberavon,West Glamorgan,Wales,Wales,County,Labour,Lab,Stephen,Kinnock,Male,Yes,Yes,17008,0.538262,-0.142933
1,W07000049,W92000004,Aberavon,West Glamorgan,Wales,Wales,County,Conservative,Con,Charlotte,Lang,Female,No,No,6518,0.206279,0.028901
2,W07000049,W92000004,Aberavon,West Glamorgan,Wales,Wales,County,Brexit Party,Brexit,Glenda,Davies,Female,No,No,3108,0.098361,NaN
3,W07000049,W92000004,Aberavon,West Glamorgan,Wales,Wales,County,Plaid Cymru,PC,Nigel,Hunt,Male,No,No,2711,0.085797,0.002804
4,W07000049,W92000004,Aberavon,West Glamorgan,Wales,Wales,County,Liberal Democrat,LD,Sheila,Kingston-Jones,Female,No,No,1072,0.033926,0.015921
5,W07000049,W92000004,Aberavon,West Glamorgan,Wales,Wales,County,Independent,Ind,Captain,Beany,Male,No,No,731,0.023134,NaN
6,W07000049,W92000004,Aberavon,West Glamorgan,Wales,Wales,County,Green,Green,Giorgia,Finney,Female,No,No,450,0.014241,NaN

In [37]:
tory_votes = df2019[ df2019['party_name'] == "Conservative" ]['votes'].sum()
total_votes = df2019['votes'].sum()

In [38]:
tory_votes/total_votes*100

43.62593244041456

In [39]:
df19 = pd.read_csv("HoC-GE2019-results-by-constituency.csv")

In [41]:
df19.columns

Index(['ons_id', 'ons_region_id', 'constituency_name', 'county_name',
       'region_name', 'country_name', 'constituency_type', 'declaration_time',
       'mp_firstname', 'mp_surname', 'mp_gender', 'result', 'first_party',
       'second_party', 'electorate', 'valid_votes', 'invalid_votes',
       'majority', 'con', 'lab', 'ld', 'brexit', 'green', 'snp', 'pc', 'dup',
       'sf', 'sdlp', 'uup', 'alliance', 'other', 'other_winner'],
      dtype='object')

In [68]:
voters = df19[['electorate','valid_votes','invalid_votes']].sum()
party_votes = df19[['con','lab','ld','brexit','green','snp','pc','dup','sf','sdlp','uup','alliance','other']].sum()
party_seats = df19['first_party'].value_counts()

In [85]:
voter_turnout = voters['valid_votes'] / voters['electorate'] * 100
invalid_votes = voters['invalid_votes'] / voters['valid_votes'] * 100
tory_vote_share = party_votes['con'] / party_votes.sum() * 100
tory_seat_share = party_seats['Con'] / party_seats.sum() * 100
print("Voter Turnout: {}%".format(round(voter_turnout,2)))
print("Invalid Votes: {}%".format(round(invalid_votes,2)))
print("Conservative Vote Share: {}%".format(round(tory_vote_share,2)))
print("Conservative Seat Share: {}%".format(round(tory_seat_share,2)))

Voter Turnout: 67.31%
Invalid Votes: 0.37%
Conservative Vote Share: 43.63%
Conservative Seat Share: 56.15%

In [91]:
party_seat_shares = round(party_seats / party_seats.sum() * 100,2)
party_vote_shares = round(party_votes / party_votes.sum() * 100,2)

In [112]:
party_seat_shares.index = party_seat_shares.index.str.lower()

In [113]:
party_seat_shares

con         56.15
lab         31.08
snp          7.38
ld           1.69
dup          1.23
sf           1.08
pc           0.62
sdlp         0.31
green        0.15
spk          0.15
alliance     0.15
Name: first_party, dtype: float64

In [114]:
party_vote_shares

con         43.63
lab         32.08
ld          11.55
brexit       2.01
green        2.70
snp          3.88
pc           0.48
dup          0.76
sf           0.57
sdlp         0.37
uup          0.29
alliance     0.42
other        1.26
dtype: float64

In [122]:
party_shares = pd.concat([party_vote_shares, party_seat_shares], axis=1)
party_shares.columns=["Votes","Seats"]

/home/star2/ecf3/anaconda3/envs/hackathon/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [136]:
party_shares.sort_values(by=['Votes'],ascending=False,inplace=True)

In [137]:
party_shares['v/s'] = party_shares['Seats']/party_shares['Votes']

In [138]:
party_shares.sort_values(by=['v/s'])

          Votes  Seats       v/s
green      2.70   0.15  0.055556
ld        11.55   1.69  0.146320
alliance   0.42   0.15  0.357143
sdlp       0.37   0.31  0.837838
lab       32.08  31.08  0.968828
con       43.63  56.15  1.286959
pc         0.48   0.62  1.291667
dup        0.76   1.23  1.618421
sf         0.57   1.08  1.894737
snp        3.88   7.38  1.902062
brexit     2.01    NaN       NaN
other      1.26    NaN       NaN
uup        0.29    NaN       NaN
spk         NaN   0.15       NaN

In [139]:
party_shares

          Votes  Seats       v/s
con       43.63  56.15  1.286959
lab       32.08  31.08  0.968828
ld        11.55   1.69  0.146320
snp        3.88   7.38  1.902062
green      2.70   0.15  0.055556
brexit     2.01    NaN       NaN
other      1.26    NaN       NaN
dup        0.76   1.23  1.618421
sf         0.57   1.08  1.894737
pc         0.48   0.62  1.291667
alliance   0.42   0.15  0.357143
sdlp       0.37   0.31  0.837838
uup        0.29    NaN       NaN
spk         NaN   0.15       NaN