# BioTIME

The BioTIME database is an aggregation of Abundance and Biomass Time Series of different species from over 350 studies across many locations and multiple centuries.

NOTES: Because the data was collected from multiple independant studies, the data from some studies will not necessarily match up with data from other studies. For example, some rows do not have an entry in the 'SPECIES' column. This may be because the original authors have encoded the names of their species, merging the Genus and Species together into an abbreviated codename, and other times it may be because the original author has given the common name for the species they have studied, and this common name may represent multiple different species in different parts of the world. Regardless, these labels should be self-consistent within studies, and this should be sufficient to compare between studies.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data/BioTIMEQuery02_04_2018.csv")

C:\Users\ecf3\Documents\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.head()

,Unnamed: 0,STUDY_ID,DAY,MONTH,YEAR,SAMPLE_DESC,PLOT,ID_SPECIES,LATITUDE,LONGITUDE,sum.allrawdata.ABUNDANCE,sum.allrawdata.BIOMASS,GENUS,SPECIES,GENUS_SPECIES
0,1,10,NaN,NaN,1992,47.400000_-95.120000_1_Treefall_0_Medium,1,23,47.4,-95.12,1.0,0.0,Acer,saccharum,Acer saccharum
1,2,10,NaN,NaN,1984,47.400000_-95.120000_9_Treefall_Base_Small,9,23,47.4,-95.12,2.0,0.0,Acer,saccharum,Acer saccharum
2,3,10,NaN,NaN,1992,47.400000_-95.120000_1_Treefall_0_Small,1,1959,47.4,-95.12,2.0,0.0,Prunus,virginiana,Prunus virginiana
3,4,10,NaN,NaN,1992,47.400000_-95.120000_1_Treefall_0_Medium,1,22,47.4,-95.12,2.0,0.0,Acer,rubrum,Acer rubrum
4,5,10,NaN,NaN,1992,47.400000_-95.120000_1_Treefall_0_Medium,1,1959,47.4,-95.12,1.0,0.0,Prunus,virginiana,Prunus virginiana