# US Traffic Accidents

Link to metadata: https://smoosavi.org/datasets/us_accidents

### Import required libraries

In [1]:
import pandas as pd

### Import the data

In [2]:
data = pd.read_csv("data/US_Accidents_Dec19.csv")

In [3]:
import_as_chunks = pd.read_csv("data/US_Accidents_Dec19.csv", chunksize=100000)

In [7]:
for chunk in import_as_chunks:
    print(chunk)
    break

              ID         Source    TMC  Severity           Start_Time  \
100000  A-100002       MapQuest  201.0         3  2016-04-05 15:52:14
100001  A-100003       MapQuest  245.0         3  2016-04-05 15:57:10
100002  A-100004       MapQuest  201.0         2  2016-04-05 16:02:16
100003  A-100005  MapQuest-Bing  201.0         2  2016-04-05 16:01:17
100004  A-100006       MapQuest  201.0         2  2016-04-05 16:06:41
...          ...            ...    ...       ...                  ...
199995  A-199997       MapQuest  241.0         3  2017-01-12 05:44:55
199996  A-199998       MapQuest  343.0         2  2017-01-12 05:48:23
199997  A-199999       MapQuest  339.0         3  2017-01-12 05:59:17
199998  A-200000       MapQuest  245.0         3  2017-01-12 05:56:04
199999  A-200001       MapQuest  201.0         3  2017-01-12 06:02:55

                   End_Time  Start_Lat   Start_Lng  End_Lat  End_Lng  ...  \
100000  2016-04-05 16:52:14  32.731979 -117.111244      NaN      NaN  ...
100001  2016-04-05 16:57:10  33.913029 -118.125389      NaN      NaN  ...
100002  2016-04-05 17:02:16  34.121517 -117.536896      NaN      NaN  ...
100003  2016-04-05 17:01:17  33.995079 -117.361183      NaN      NaN  ...
100004  2016-04-05 17:06:41  34.034119 -118.013443      NaN      NaN  ...
...                     ...        ...         ...      ...      ...  ...
199995  2017-01-12 06:14:18  40.797443  -73.503090      NaN      NaN  ...
199996  2017-01-12 06:18:06  42.125355  -71.062134      NaN      NaN  ...
199997  2017-01-12 06:28:42  40.779881  -74.242432      NaN      NaN  ...
199998  2017-01-12 06:25:16  40.734314  -73.922318      NaN      NaN  ...
199999  2017-01-12 06:32:41  42.403008  -71.797577      NaN      NaN  ...

        Roundabout Station   Stop Traffic_Calming Traffic_Signal Turning_Loop  \
100000       False   False  False           False          False        False
100001       False   False  False           False          False        False
100002       False   False  False           False           True        False
100003       False   False  False           False          False        False
100004       False   False  False           False          False        False
...            ...     ...    ...             ...            ...          ...
199995       False   False  False           False          False        False
199996       False   False  False           False          False        False
199997       False   False  False           False          False        False
199998       False   False  False           False          False        False
199999       False   False  False           False          False        False

       Sunrise_Sunset Civil_Twilight Nautical_Twilight Astronomical_Twilight
100000            Day            Day               Day                   Day
100001            Day            Day               Day                   Day
100002            Day            Day               Day                   Day
100003            Day            Day               Day                   Day
100004            Day            Day               Day                   Day
...               ...            ...               ...                   ...
199995          Night          Night             Night                   Day
199996          Night          Night             Night                   Day
199997          Night          Night             Night                   Day
199998          Night          Night             Night                   Day
199999          Night          Night             Night                   Day

[100000 rows x 49 columns]